{%extends "base.html"%} {% block title %}Home{% endblock %} {% block content %}  <!-- Extends the base template. 
  Can change any blocked content in base.html -->

<h1 align="center">Notes</h1>
<ul id="notes">
  {% for note in user.notes %}
  <li>
    {{note.data}}
    <!-- Not sure why there is an error, the program works as expected -->
    <button type="button" onClick="deleteNote({{note.id}})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note"></textarea>
  <br />
  <div align="center">
    <button type="submit">Add Note</button>
  </div>
</form>
{% endblock %}
